.container{
    margin-bottom: 100px;
}
.orange-banner{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.pricing{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0% ,#FF136F 100%);
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}